@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .avatar {
    @apply w-[34px] h-[34px] rounded-full object-cover
  }

  body {
    @apply overflow-x-hidden
  }

  .clean_input {
    @apply bg-transparent border-0 focus:border-0 ring-0 focus:ring-0
  }

  .icon {  
    @apply relative p-2 transition-all duration-200 hover:bg-gray-200 rounded-md  active:scale-90 cursor-pointer
  }

  .button_row {
    @apply text-sm text-gray-800 transition-all duration-200 hover:bg-gray-200 cursor-pointer active:scale-90 rounded-md p-2 px-4 bg-gray-100
  }

  .small_button {
    @apply text-xs font-medium text-gray-800 p-[3px] px-2 bg-gray-200 rounded-md transition-all duration-200 hover:bg-gray-300 cursor-pointer active:scale-90
  }

  .sidebar_collection {
    @apply text-sm font-medium flex items-center gap-2 justify-between p-1 transition-all duration-100 cursor-pointer rounded-md hover:bg-gray-200
  }

  .pagination {
    @apply rounded-full w-[8px] h-[8px] flex-shrink-0 inline-block mt-1 ml-1
  }

  .button_opt {
    @apply text-sm text-gray-700 bg-gray-200 rounded-md p-2 px-3 hover:bg-gray-300 transition-all duration-200 cursor-pointer active:scale-90 font-medium flex items-center gap-1
  }

  body {
    @apply overflow-y-hidden
  }

  .form {
    @apply border-0 clean_input  border-gray-400 text-sm text-gray-800 bg-gray-200 focus:bg-gray-100 transition-all duration-200  px-3
  }

  .tab {
    @apply p-2 border-b-[3px] border-transparent cursor-pointer transition-all duration-200 hover:bg-gray-100 rounded-md font-medium text-xs
  }

  .active_tab {
    @apply tab rounded-none hover:bg-orange-50 border-orange-600
  }

  .row_item {
    @apply text-gray-800 font-semibold col-span-3 px-3 p-2 border-t border-b
  }

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(255, 108, 55);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 108, 55) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
